{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.rawgit.com/thomaspark/bootswatch/v4/flatly/bootstrap.min.css" integrity="sha384-sWMkWMJ5pqIoUcXfA/+bJ2iWRBD6GWyIzk3itajLe/dRF2gvdOADdXLG9us75jbM" crossorigin="anonymous">

        <title>{% block title %}{{ view.title }}{% endblock title %} | ANIAuth</title>
    </head>
    <body>
        <div class="bg-faded mb-3">
            <div class="container">
                <nav class="navbar navbar-toggleable-md navbar-light">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="https://image.eveonline.com/Corporation/98199571_32.png" width="30" height="30" class="d-inline-block align-top mr-sm-1" alt="">
                        ANIAuth
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-nav">
                            {% block menu %}
                                <a class="nav-item nav-link active" href="#">Home<span class="sr-only"> (current)</span></a>
                                <a class="nav-link" href="#">Features</a>
                                <a class="nav-link" href="#">Pricing</a>
                                <a class="nav-link" href="https://zkillboard.com/corporation/98199571/">Killboard</a>
                            {% endblock menu %}
                        </div>
                        {% if user.is_authenticated %}
                            <div class="navbar-nav ml-auto">
                                <div class="nav-item nav-link mr-sm-2">{{ user }}</div>
                                <button class="btn btn-outline-success my-2 my-sm-0" href="{% url 'logout' %}" id="id_logout">Logout</button>
                            </div>
                        {% else %}
                            <form class="form-inline ml-auto my-2 my-lg-0" method="POST" action="{% url 'send_token' %}">
                                {% csrf_token %}
                                <input type="text" class="form-control mr-sm-2" placeholder="Email" spellcheck="false" id="id_email" name="email">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                            </form>
                        {% endif %}
                    </div>
                </div
            </nav>
        </div>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.level_tag }} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block body %}BASE TEMPLATE{% endblock body %}
        </div>

        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>
